<!DOCTYPE html>
<html>
  <head>
    <title>Dog Breed Classifier</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
    <script src="{{ url_for('static', filename = 'main.js') }}"></script>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
        <header>
            <h2>Dog Breed Classifier App</h2>
        </header>
        <div class="container">
            <div class="container" style="color: black">This project performs 2 functions. It uses a SVM trained to 97% test accuracy to detect human faces vs dog faces. If a dog face is detected it then uses a keras model trained to 83% test accuracy to classify the breed of the dog out of 133 possible breeds, if a human face is detected it tries to classify the breed of dog the human resembles. Project source can be found <a href="https://github.com/JavonDavis/Dog-Breed-Classifier">here</a>.

Please test it out by uploading an image below and let me know what you think here at my <a href="https://twitter.com/unrealjavon">Twitter</a>. Or open an issue in the repo if you think there's something I can improve :)
            </div>

            <div class="upload_form_cont">
                <form id="upload_form" enctype="multipart/form-data" method="post" action="/home">
                    <div>
                        <div><label for="image_file">Please select image file</label></div>
                        <div><input type="file" name="image_file" id="image_file" onchange="fileSelected()"/></div>
                    </div>
                    <div>
                        <input value="Upload" type="submit"/>
                    </div>
                    <div id="fileinfo">
                        <div id="filename"></div>
                        <div id="filesize"></div>
                        <div id="filetype"></div>
                        <div id="filedim"></div>
                    </div>
                    <div id="error">You should select valid image files only!</div>
                    <div id="error2">An error occurred while uploading the file</div>
                    <div id="abort">The upload has been canceled by the user or the browser dropped the connection</div>

                    <div id="progress_info">
                        <div id="progress"></div>
                        <div id="progress_percent">&nbsp;</div>
                        <div class="clear_both"></div>
                        <div>
                            <div id="speed">&nbsp;</div>
                            <div id="remaining">&nbsp;</div>
                            <div id="b_transfered">&nbsp;</div>
                            <div class="clear_both"></div>
                        </div>
                        <div id="upload_response"></div>
                    </div>
                </form>

                <img id="preview" />
            </div>
        </div>
    </body>
</html>
